# Workspaces for "Ecplise"
bin
*.launch
.settings
.metadata
.classpath
.project



# Workspaces for "Intellij Idea"
out
*.ipr
*.iws
*.iml
.idea



# Workspaces for "Gradle"
build
.gradle



# Other user-generated Folders
eclipse
run
runs
run-data
repo
